# Environment
NODE_ENV=development

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/hotelbook"

# Server
PORT=5000

# JWT
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"

# Client URL
CLIENT_URL=http://localhost:3002

# Google OAuth
GOOGLE_CLIENT_ID=2129356645-cuhbtm1inphrm907f53g39up3qccce2o.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# GitHub OAuth
GITHUB_CLIENT_ID=Ov23livUCBTPJIpMc9oU
GITHUB_CLIENT_SECRET=6717f9dabc141e425dda1d13007fe5c255e8a9ce

# M-Pesa Configuration
MPESA_CONSUMER_KEY=xfPUGyHsYGe98ibhHEi207wD3RoRJguGVniFKvt5DSF5qRmW
MPESA_CONSUMER_SECRET=iZBdI5lSoiGL4ZZdOQhZTorPwHWL75tyAKli9lgKabafjU0QKYFXXaLMFRdJvzdR
MPESA_INITIATOR_PASSWORD=EK9YTm3axw7mhtkWXjdGOqIx1J0LBbFqE5iDlnQ5TVyMFo7otef462FYvvw4mO73Ig2AEz0wai9HjKymt8SVHgsgJEKegX2xXvG/bL3r45xX6f5ltVQje5W3NpK2k4QD6pNfB95N4Jn5cA9d84kvRMlEY05LeGFoi5BgCt+MlpIrxY3svkrOwZz20g/Y80eAyIwTcXl5WK7LG5RUeAxX74CmtivfS7qtFbpSTBjlKKPiegvzXaBnzgcOMjzCOYQXGF6oXfTCbGVX+sPYeD0giUV7ZpeIOVUTiSCfC0s5+wBkwlAe52OqwQqmCBvZCNwZ1pwUcQGSNoC2xrkGwo3zkw==
MPESA_CALLBACK_URL=http://localhost:5000/api/payments/callback
MPESA_BUSINESS_SHORTCODE=174379
